@import '../../node_modules/bootstrap/scss/bootstrap';

.navbar {
  margin-bottom: 1rem;
}

.page__title {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 0.5rem;
  text-align: center;
}

@media (max-width: 575px) {
  .navbar-toggleable > .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
  }
}
